*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Idea's sht
.idea
*.iml

# Gradle's sht
.gradle
build             
settings.gradle   
gradle*           
.build.gradle.swp
# For whatever reason gradle adds a lot of files in node_modules
# Todo: Learn more about node_modules
src/main/resources/static/node_modules
src/main/resources/static/node
